#tuples work very similar to lists execpt they are immutable

- Some basic operations on list are as follows:

In [1]:
#synatax for creating a tuple 
sam_tup=(1,2,3)
sam_tup

(1, 2, 3)

In [2]:
#tuples can also hold multiple data types 
sam2_tup=(1,'three',7.07)
sam2_tup

(1, 'three', 7.07)

In [6]:
#tuples also have indexing and slicing like a list
sam2_tup[1]

'three'

- below are some basic method of tuples

In [7]:
#.index() to return the index of a value in a tuple
sam2_tup.index('three') #returns the index of the assigned value in the method

1

In [8]:
#.count() to return the number of times a specific value appears in a tuple
sam2_tup.count(7.07)

1

- tuples are immutable, therefore we can't assign a new value to the previous index

In [9]:
#the following code throws an error, proving the above
sam2_tup[0]='one'

TypeError: 'tuple' object does not support item assignment

- We also can't add a new value to the original tuple

In [10]:
#the following code throws an error, proving the above
sam2_tup.append('new')

AttributeError: 'tuple' object has no attribute 'append'